.nav {
    grid-area: nav;
    background-color: rgb(195, 239, 245);
    text-align: center;
    padding: 30px;
}

.item div {
    font-weight: bold;
    padding: 10px;
    font-family: 'Neucha', cursive;
    font-size: 20px;

}

.item a:hover {
    color: blue;

}

.item a {
    text-decoration: none;
    color: red;

}