.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1500px;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 20fr;
    grid-gap: 5px;
    grid-template-areas:
    "header header"
    "nav content";
}
